@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  line-height: 1.5;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 200px;
}

/* ------------------------------ */

.position {
  font-size: 20px;
  line-height: 1.2;
  max-width: 1000px;
  font-weight: 700;
}
.position div {
  margin-bottom: 40px;
}
.position--margin {
  margin: 0 auto 300px;
}
.position__title {
  color: #5d62b5;
  font-size: 70px;
  margin-bottom: 20px;
}
.position__test-one {
}
.position__block {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}
.position__block:not(:last-child) {
  margin-bottom: 5px;
}
.position__block--color-violet {
  background-color: #5d62b5;
}
.position__block--color-aquamarine {
  background-color: #29c3be;
}
.position__block--color-orange {
  background-color: #f2726f;
}
.position__test-one .position__block--color-violet {
  position: relative;
  top: 50px;
  left: 50px;
}
.position__test-two .position__block--color-violet {
  position: sticky;
  top: 0;
}
.position__test-three .position__block--color-violet {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000px;
}
.position__test-four .position__block--color-violet {
  position: absolute;
  right: 100px;
  top: 200px;
}
/* ------------------------------ */

._container {
  max-width: 1020px;
  margin: 0 auto;
}
.about__wrapper {
  background: #5d62b5;
  padding: 100px 87px 0;
  border-radius: 40px;
  position: relative;
  z-index: -2;
}
.about__wrapper::before {
  content: url('../img/about/decor.svg');
  position: absolute;
  top: -109px;
  right: -75px;
}
.about__wrapper::after {
  content: url('../img/about/blob.png');
  position: absolute;
  z-index: -1;
  left: -20px;
  bottom: -90px;
}
.about__subtitle {
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  margin-bottom: 33px;
  padding-left: 33px;
  position: relative;
}
.about__subtitle::before {
  content: url('../img/about/icon.svg');
  position: absolute;
  left: 0;
  top: -2px;
}
.about__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  max-width: 583px;
  margin-bottom: 36px;
}
.about__text {
  margin-bottom: 54px;
}
.about__text p {
  letter-spacing: 0.15px;
  color: #f5f5f5;
}
.about__image {
  max-width: 846px;
  width: 100%;
  height: 420px;
  object-fit: cover;
  margin-bottom: -54px;
  border-radius: 40px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
